/* ------------------------------------------------
 HTML5 Reset
------------------------------------------------ */
html{ box-sizing: border-box;}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,
legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;font-family:inherit;font-size:100%;
font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align: baseline}:focus{/* remember to define focus styles! */outline:0}body{background:#fff;line-height:1}ol,ul{list-style: none}
table{/* tables still need 'cellspacing="0"' in the markup */border-collapse:separate;border-spacing:0}caption,th,td{font-weight:normal;text-align:left}blockquote:before,blockquote:after,q:before,q:after{content: ""}
blockquote,q{quotes: "" ""}a img{border: 0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display: block}.clear{clear:both}.clearfix:after{content:".";visibility:hidden;display:block;height:0;
clear:both}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{display:block}strong{font-weight:bold;}em{font-style:italic}del{text-decoration: line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
*, *:after, *:before {box-sizing:border-box;}

/* ------------------------------------------------
 Fonts
------------------------------------------------ */

/* ------------------------------------------------
 Global
------------------------------------------------ */

body {
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:16px;
	line-height:130%;
	background-color: #1f1f1f;
}
.mt_svg-logo {
	width: 120px;
    height: 120px;
    background-color: #1998a8;
    border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
	margin:0 auto;
	-webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease;
}
.mt_score-color-blue .mt_svg-logo {
	background-color: #1998a8;
}
.mt_score-color-amber .mt_svg-logo {
	background-color: #ff9900;
}
.mt_score-color-red .mt_svg-logo {
	background-color: #e23838;
}
.mt_svg-logo svg {
	z-index: 2;
    fill: #fff;
    width: 60px;
}
.mt_splash-wrap h1 {
	padding:10px 0px 10px 0px;
	max-width: 100px;
    margin: 0 auto;
}
.mt_splash-wrap h2 {
	font-size:20px;
	padding:10px 0px 0px 0px;
	color:#ffffff;
	font-weight:bold;
}
.mt_splash-wrap p {
	padding-bottom:10px;
}
.mt_main-splash-container {
    display: flex;
    height: 100vh;
	-webkit-justify-content: center;
    -webkit-align-items: center;
    justify-content: center;
    align-items: center;
	background-color: #1f1f1f;
}
.mt_splash-wrap {
	max-width: 600px;
    width: 100%;
    text-align: center;
	font-size:20px;
    line-height: 1.3;
	padding:20px;
	position:relative;
}
.mt_splash-logo {
	max-width: 140px;
    width: 100%;
    margin: 0 auto;
    height: auto;	
}
.mt_splash-logo img {
	width:100%;
	height:auto;
}
.result,
.mt_intro-content,
.mt_splash-logo {
	z-index: 2;
    position: relative;
}
.mt_start-call {
	background-color: #ff9900;
    color: #fff;
    border: none;
    padding: 15px 30px 15px 30px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    margin: 20px auto;
    cursor: pointer;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex; 
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
    line-height: 1;
	-webkit-box-shadow: 0 3px 10px 1px rgba(0,0,0,.48);
	box-shadow: 0 3px 10px 1px rgba(0,0,0,.48);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.mt_start-call svg {
	height:30px;
	width:30px;
	margin-left:10px;
}
.mt_start-call:hover {
	-webkit-box-shadow: 0 9px 30px 3px rgba(0,0,0,.46);
	box-shadow: 0 9px 30px 3px rgba(0,0,0,.46);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.mt_start-call:active {
	-webkit-box-shadow: 0 3px 10px 1px rgba(0,0,0,.48);
	box-shadow: 0 3px 10px 1px rgba(0,0,0,.48);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.mt_loading-data button.mt_start-call {
    cursor: default;
	-webkit-box-shadow: 0 9px 30px 3px rgba(0,0,0,.46);
	box-shadow: 0 9px 30px 3px rgba(0,0,0,.46);
}
.mt_result-score {
	font-weight: bold;
    font-size: 180px;
    line-height: 1;	
    border-radius: 50%;
    margin: 0 auto;
    opacity:0;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.mt_loaded-result .mt_result-score {
	opacity:1;
}
.mt_result-location {
	font-weight: bold;
    font-size: 24px;
}
.circle-wrap {
	position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	z-index:1;
}
.circle {
	-webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease;
	width: 10px;
    height: 10px;
    background: #ff0000;
    border-radius: 50%;
	opacity:0;
}
.circle-70 .circle {
	height:400px;
	width:400px;
	opacity:1;
}
.mt_loading-data .mt_start-call svg {
	animation-name: spin;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
}
.mt_error-message {
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
}
@keyframes spin {
     0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.mt_result-manual {
	font-size: 16px;
    padding-top: 6px;
}
.mt_result-manual a {
	text-decoration: none;
    color: #1998a8;
	-webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease;
}
.mt_score-color-blue .mt_result-manual a {
	color: #1998a8;
}
.mt_score-color-amber .mt_result-manual a {
	color: #ff9900;
}
.mt_score-color-red .mt_result-manual a {
	color: #e23838;
}

.mt_location-error-message {
	background-color: #f90;
    padding: 20px 20px;
    text-align: center;
    /*position: fixed;
    top: 0px;*/
    width: 100%;
    left: 0px;
    font-size: 18px;
    line-height: 1.3;
}

.mt_manual-form input {
	    font-size: 14px;
    /* color: #f00; */
    padding: 10px 20px;
    border: 1px solid #808080;
    background-color: #1f1f1f;
}
.mt_manual-form button {
	
}